*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html,body {
  background:linear-gradient(90deg, #84d600,#e0fea7,#e0fea7);
  font-family:'Quicksand',sans-serif;
  font-size: 1.1rem;
  height: 100%;
}
